* {
    background-color: bisque;
}

h1{
    text-align: center;
    font-size: 24px;
}

h4{
    font-weight: 500;
}

.two-columns{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.columns-center{
    text-align: center;
}

img:last-child{
    height: 110px;
    width: 220px;
}

p{
    width: 400px;
}

.text-area{
    margin: 30px 30px;
    padding: 10px;
    border: solid 3px blueviolet;
    border-radius: 15px;
    text-align: center;
}